@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #06bcef;
$pink: #ff8080;
$pink-invert: #fff;

$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: $pink;
$primary-invert: $pink-invert;

@import "../node_modules/bulma/bulma";
